body,
html {
    background-color: rgb(203, 213, 225);
    height: 100vh; /* Use vh for full viewport height */
    width: 100vw;
    overflow-x: hidden; /* Prevents horizontal scroll */
    overflow-y: scroll; /* Allows vertical scrolling */
}

/* Hide the scrollbar in Chrome, Safari, and WebKit browsers */
body::-webkit-scrollbar {
    width: 0; /* Hide the scrollbar */
}

/* Hide the scrollbar track in Chrome, Safari, and WebKit browsers */
body::-webkit-scrollbar-thumb {
    background: none; /* Ensures the scrollbar thumb is invisible */
}

/* Hides scrollbar in Internet Explorer and Edge */
body {
    -ms-overflow-style: none;  /* Hides scrollbar in Internet Explorer and Edge */
}

/* Hides scrollbar in Firefox */
body {
    scrollbar-width: none; /* Hides scrollbar in Firefox */
}




* {
    margin: 0;
    padding: 0;
}